@import "reset.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.el {
  background-color: lightgrey;
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

@each $type in $types {
  .el--#{$type} {
    background-color: hsl(index($types, $type) * 40, 60, 80);
  }
}
